@import 'tailwindcss';

@font-face {
  font-family: Anta;
  src: url(@/assets/fonts/anta-Regular.ttf);
}

@font-face {
  font-family: Alegreya;
  src: url(@/assets/fonts/Alegreya.ttf);
}

@theme {
  --font-1: Anta;
  --font-2: Alegreya;
  --color-apple: #fa2b43;
  --color-spotify: #1ed760;
  --color-tidal: #000;
  --color-amazon: #3cbed9;
  --color-youtube: #fe9b9b;
  --color-soundcloud: #ff5500;
}

@layer base {
}

@layer components {
  .nav-link {
    @apply block w-full h-full py-[0.5rem] px-[1rem] hover:text-[3.6rem] hover:text-shadow-[0.4rem_0.3rem_0.5rem_#000] duration-300;
  }
}
